<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="bg-gray-100 h-screen flex flex-col">
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto mt-4 flex flex-col lg:flex-row items-start lg:items-center px-4">
      <!-- Image Section -->
      <div class="lg:w-11/12 mb-8 lg:mb-0">
        <div id="image-carousel" class="relative">
          <% photos.forEach((photo, index) => { %>
            <img src="<%= photo %>" alt="Photo <%= index + 1 %>" class="lg:w-full object-contain h-auto hidden" id="photo-<%= index %>">
          <% }) %>
        </div>
        <div class="flex justify-between mt-2">
          <button id="prev-arrow" class="bg-blue-500 text-white py-1 px-4 rounded">←</button>
          <button id="next-arrow" class="bg-blue-500 text-white py-1 px-4 rounded">→</button>
        </div>
      </div>

      <!-- Details Section -->
      <div class="lg:w-3/5 lg:pl-12 flex flex-col">
        <h1 class="text-3xl font-semibold mb-6"><%= year %> <%= make %> <%= model %></h1>
        <div class="text-lg flex-grow">
          <!-- Details -->
          <div class="grid grid-cols-1 gap-4 mb-8">
            <div><strong>Year:</strong> <%= year %></div>
            <div><strong>Make:</strong> <%= make %></div>
            <div><strong>Model:</strong> <%= model %></div>
            <div><strong>Color:</strong> <%= color %></div>
            <div><strong>Mileage:</strong> <%= mileage %></div>
            <div><strong>Accidents:</strong> <%= accidents ? 'Yes' : 'No' %></div>
            <div><strong>Buy It Now Price:</strong> $<%= price %></div>
          </div>

          <!-- Status & Bid Section -->
          <div class="flex justify-between items-center mb-4">
            <div class="bg-white p-2 rounded">
              <% if(status === 'sold') { %>
                Sold for: $<%= highestBid %>
              <% } else { %>
                Highest Bid: $<%= highestBid %>
              <% } %>
            </div>
            <div class="bg-white p-2 rounded">
              Status: <%= status.charAt(0).toUpperCase() + status.slice(1) %>
            </div>
          </div>
          
          <div class="w-full flex flex-col items-center">  <!-- Added this new wrapper div -->
            <!-- Bid Section -->
            <div class="w-full flex mb-4">
              <form action="/bid/<%= _id %>" method="post" class="w-full flex">
                <input type="number" name="bidAmount" required class="flex-grow p-2 rounded bg-gray-200 text-black focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" placeholder="Enter your bid" <%= status === 'sold' ? 'disabled' : '' %>>
                <button type="submit" class="flex-shrink bg-blue-500 text-white py-2 px-4 rounded" <%= status === 'sold' ? 'disabled' : '' %>>Bid</button>
              </form>
            </div>
          
            <!-- Separator -->
            <div class="flex items-center mb-4 w-full">
              <hr class="flex-grow border-gray-400">
              <span class="mx-4 text-black text-sm">Or</span>
              <hr class="flex-grow border-gray-400">
            </div>
          
            <!-- Buy It Now Section -->
            <div class="w-full flex justify-center mb-4">
              <form action="/buy-it-now/<%= _id %>" method="post" class="w-full">
                <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded w-full" <%= status === 'sold' ? 'disabled' : '' %>>Buy It Now</button>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Section -->
    <script>
      let currentPhotoIndex = 0;
      const photos = document.querySelectorAll("#image-carousel img");
      const totalPhotos = photos.length;

      // Show the first photo by default
      photos[currentPhotoIndex].classList.remove("hidden");

      // Previous arrow click event
      document.getElementById("prev-arrow").addEventListener("click", () => {
        photos[currentPhotoIndex].classList.add("hidden");
        currentPhotoIndex = (currentPhotoIndex - 1 + totalPhotos) % totalPhotos;
        photos[currentPhotoIndex].classList.remove("hidden");
      });

      // Next arrow click event
      document.getElementById("next-arrow").addEventListener("click", () => {
        photos[currentPhotoIndex].classList.add("hidden");
        currentPhotoIndex = (currentPhotoIndex + 1) % totalPhotos;
        photos[currentPhotoIndex].classList.remove("hidden");
      });

      // Modal JavaScript
      document.addEventListener("DOMContentLoaded", function() {
        const errorMessage = "<%= errorMessage %>";
        const successMessage = "<%= successMessage %>";
        if (errorMessage || successMessage) {
          const messageModal = document.getElementById("messageModal");
          messageModal.classList.remove("hidden");
          document.getElementById("messageContent").innerText = errorMessage || successMessage;
          document.getElementById("closeModal").addEventListener("click", function() {
            messageModal.classList.add("hidden");
          });
        }
      });
    </script>
    <!-- Modal for Error/Success Messages -->
    <div id="messageModal" class="fixed inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50 hidden z-50">
      <div class="bg-white rounded-lg p-6 w-1/3 relative">
        <button id="closeModal" class="absolute top-4 right-4 text-2xl">×</button>
        <p id="messageContent" class="text-center text-xl"></p>
      </div>
    </div>
  </body>
</html>
